* {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;

}
ul,li
{
    margin: 0%;
    padding: 0%;
}

.main {
    width: 100%;
    height: 100%;
    background-image: url(..//image/bg-1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.headr {

    overflow: auto;

    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: fixed;
}

.headrmain {


    width: 90%;
    margin: auto;
    overflow: auto;
}

.hedmanu {
    width: 41.66%;
    padding-left: 15px;
    padding-right: 15px;
    overflow: auto;
    float: left;
    margin-top: 10px;
    

}

.hedlogo {
    
    
    width: 16.66%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    text-align: center;
}

.soc {
       width: 41.66%;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    float: left
}

.list {
    
    
    list-style: none;
    float: left;
}

.listitem {
    
    
    display: inline-block;
    padding: 10px;
    color: white;
}

.textline {
    
    
    color: white;
    text-align: center;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    display: inline-block;

}


.forester_main {
    width: 60%;
    height: 250px;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
}



.titlein2 {
    text-align: center;
    padding-top: 30px;
}
.textline-exp
{
    color: white;
    background-color: #BED094;
    border-radius: 35px;
    padding: 17px 37px;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 1.5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 10.5px;
    line-height: 1;
}

.secondpage {
    width: 100%;
    
    position: relative;
}

.ip {
    text-align:
}

.h5 {
    margin: 0;
    color: white;
    text-align: center;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 5px;
}

.h1 {
    margin: 0;
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 130px;
    line-height: 1;
    font-family: sans-serif;
    letter-spacing: .5px;
}
.un-h3
{
    font-size: 18px;
    text-align: center;
    font-family: 'Nunito Sans',sans-serif;
    font-weight: 200;
    line-height: 1.65em;
    padding: 0px 50px;
    color: white;
}

.story {
   width: 60%;
    margin: auto;
    padding: 100px 0px;
    text-align: center;

}

.our-story
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, .85);
    margin-bottom: 15px;
}


.storyin1 {
   font-size: 20px;
    color: black;
    margin-bottom: 15px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 200;
    line-height: 1.55em;
}

.storyin2 {
    color: #aeaeae;
    display: inline-block;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6em;
    margin-bottom: 10px;
}
.story-read
{
    color: #aeaeae;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.6em;

}

.services {
    width: 100%;
    background-color: #f2f4ec;
    padding: 30px;
}


.container {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
    color: #aeaeae;
}

.servicesmain {
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 40px;
}

.experttext {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.servicetext {
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;
    font-weight: 600;
    color: black;
    line-height: 1.2em;
}

.serviceinfo{
    text-align: center;
    padding: 40px;
    overflow: auto;
    width: 100%;
}

.servic_gallery {
    float: left;
    width: 33.33%;
    padding: 10px;
}

.Web-Designinfo {
    width: 100%;
    height: 185px;
    background-image: url(../image/bg-1.jpg);
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    position: relative;
}
.wd-h2
{
    font-weight: 600;
    font-size: 22px;
    line-height: 1.1em;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.5px;
    margin-bottom: 5px;
}

.wdicon {
    width: 10%;
    margin: auto;
    position: absolute;
    top: 70px;
    right: 0;
    bottom: 0;
    left: 0;
}

.wdcont {
    width: 100%;
    background-color: white;
    padding: 50px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.07);
    color: black;
}

.details {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.65em;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 30px;
}
.dis-ser
{
        display: inline-block;
    text-decoration: none;
    color: black;
}
.dis-inner
{
    font-size: 10px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}

.qualityservices {
    width: 30%;
    margin: auto;
    padding: 10px;
    text-align: center;
    color: #aeaeae;
}

.quapere {
    margin-bottom: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6em;
}

.get-button {
    text-align: center;
    border: 1px solid #aeaeae;
    border-radius: 30px;
    color: rgba(0, 0, 0, .85);
    background-color: #f2f4ec;
    padding: 17px 37px;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 10.5px;
    line-height: 1;
    display: inline-block;
}

.galy {
    width: 100%;
    overflow: auto;
}

.workergallery {
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 40px;
}

.galy-color {
        font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;
    font-weight: 600;
    color: black;
    line-height: 1.2em;
}

.nextcont {
   color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.showall {
    width: 70%;
    margin: auto;
    text-align: center;
}

.gall-list {
    list-style: none;
    margin-bottom: 30px;
}

.gall-con {
    display: inline-block;
    padding: 10px;
    text-align: center;
}

.gall-ref {
    text-decoration: none;
    color: black;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 1;
    padding: 7px 13px;
}

.work-gall {
    width: 100%;
    overflow: auto;
}

.pic-work {
    width: 33.33%;
    float: left;
    padding: 5px;
}
.pic-work img
{
    width: 100%;
}

.were {
    width: 100%;
    background-color: #f2f4ec;
    position: relative;
}

.achive-we {
    width: 80%;
    margin: auto;
    overflow: auto;
    padding: 50px 0px;
}

.icons {
        width: 33.33%;
    float: left;
    padding: 10px;
    margin: 55px 0px;
}

.achive {
    width: 100%;
    color: black;
}

.font-small {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    letter-spacing: 1px;
    font-weight: 600;
}
.pera
{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6em;
    font-family: 'Nunito Sans', sans-serif;
    margin: 14px 0px;
}

.crew {
    width: 100%;
    padding: 80px;
}

.heading {
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 40px;
}

.piccool {
    width: 80%;
    overflow: auto;
    margin: auto;
}



.team-per {
    width: 33.33%;
    float: left;
    padding: 10px;
}
.team-per img
{
    width: 100%;
}

.bg-img {
    width: 100%;
    background-image: url(../image/bg-1.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;

}

.bgcol {
    width: 100%;
    background-color: black;

}

.number {
        width: 80%;
    margin: auto;
    overflow: auto;
    padding: 50px 15px;
}

.num-count {
    width: 25%;
    float: left;
    padding: 0px 20px;
}
.sec-num
{
        margin: 30px 0px;
    width: 100%;
}



.num-format {
    font-size: 65px;
    font-weight: 600;
    line-height: 1.2em;
    letter-spacing: -1px;
    font-family: "Montserrat";
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.cont-col {
    color: white;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.65em;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
}

.cont-txt {
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.6em;
    text-align: center;
    margin-bottom: 30px;
    color: white;
    font-weight: 300;
}

.rev-cont {
    width: 45%;
    margin: auto;
    padding: 160px 0px;
    color: white;
    text-align: center;
}
.test-h5
{
    font-size: 10px;
    font-weight: 600;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5px;
}

.color-rev {
    font-size: 45px;
    font-weight: 600;
    line-height: 1.2em;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 40px;
}

.cont-txt2 {
    font: 200 18px/1.65em 'Nunito Sans', sans-serif;
    margin-bottom: 20px;
}

.social-sec {
    width: 60%;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
}

.galy-color1 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.social-sec-icons {
    width: 100%;
    overflow: auto;
    padding: 20px 20px;
}

.social-icons-list {
    width: 25%;
    float: left;
    text-align: center;
}

.gall-ref {
    text-decoration: none;
    color: black;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 1;
    padding: 7px 13px;
}

.bgcolor {
    background-color: white;
    width: 100%;
    position: relative;
}

.form-section {
    width: 80%;
    overflow: auto;
    text-align: left;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

.location {
    width: 33.33%;
    float: left;
    padding: 50px 50px;
}

.get-size {
    font-family: 'Montserrat',sans-serif;
    line-height: 1.2em;
    font-size: 45px;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: 600;
}

.get-left {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.left-border {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.font-col {
    font-size: 10px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    line-height: 1;
    padding-bottom: 5px;
    color: rgba(0, 0, 0, .85);
}

.font-col-p {
   font: 400 14px/1.6em 'Nunito Sans', sans-serif;
    color: rgba(0, 0, 0, .85);
}

.feedback {
    width: 66.66%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.details-form {
    width: 100%;
    padding: 50px 50px;
}

.detail {
    width: 100%;
    background-color: rgba(242, 244, 236);
    margin-bottom: 15px;
    border-radius: 2px;
    padding: 15px 18px;
    color: #555;
    font-family: sans-serif;
    font-size: 11px;
}

.msg {
    height: 60px;
}

.map-sec {
    width: 100%;
}

.images {
    width: 70%;
    margin: auto;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    overflow: auto;
}

.img-sec {
    width: 20%;
    float: left;
    text-align: center;
}

.footer {
    width: 100%;
    background-color: black;
    padding-bottom: 60px;
    padding-top: 60px;
}

.footer-cont {
    width: 90%;
    margin: auto;
    overflow: auto;
    padding: 20px 20px;
}

.foot-list {
    float: left;
    width: 70%;
}

.col-list-foot {
    padding-left: 15px;
    padding-right: 15px;
    overflow: auto;
    float: left;
    width: 80%;
    font-size: 12px;
}

.nav-item-left {
    list-style: none;
    float: left;
}

.nav-list {
    display: inline-block;
    padding: 10px;
    color: white;
}

.item-list {
    color: white;
    text-align: center;
    font-size: 10px;
    font-family: sans-serif;
    text-decoration: none;
}

.footer-logo-copy {
    width: 20%;
    padding-left: 15px;
    padding-right: 15px;
    float: right;
    font-size: 12px;
    font-family: sans-serif;
    color: white;
    text-align: right;
}
.foot-p
{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6em;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 10px;
    display: inline-block;
}

.main-logo {
    text-align: right;
    margin-bottom: 10px;
}

.policy-col {
    color: white;
    font-size: 12px;
}
